div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem 0;
}
a{
    background-color: #f1f1f1;
    padding: 0.5rem 1rem;
    color: rgb(62, 62, 244);
    border-radius: 1rem;
    font-size: 1.4rem;
}