ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    li a{
        height: 25rem;
        width: 20rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: #ed3237;
        .content{
            padding: 1rem;
            font-size: 1.5rem;
            .content .name{
                display: flex;
                justify-content: space-between;
            }
            .product-item-footer {
                .origins{
                    text-transform: capitalize;
                    margin: 0.3rem 0;
                    font-size: 1.3rem;
                    color: #ddd;
                }
                .cook-time{
                    font-size: 1.4rem;
                }
                .price{
                    margin-top: 0.4rem;
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: #414141;
                }   
            }
        }
         .food-favorite{
            font-size: 2rem;
        }
        img{
            height: 12rem;
            object-fit: cover;
        }
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }
}
.notFound{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-top: 1rem;
    .reset{
        display: inline-block;
        cursor: pointer;
        font-size: 1.5rem;
        border: 1px solid #ed3237;
        border-radius: 1rem;
        margin-top: 1rem;
        padding: 0.4rem 1rem;
        color: #ed3237;
        font-weight: 600;
    }
}
